.brands {
  &__header {
    text-align: center;
    background-color: rgb(22, 9, 12);
    background: linear-gradient(
      75deg,
      rgba(22, 9, 12, 1) 0%,
      rgba(65, 35, 35, 1) 50%,
      rgb(47, 30, 41, 1) 100%
    );
    padding: 35px 25px;
  }

  &__title {
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
    margin: 0;
    font-weight: bold;
  }
}
