@import 'breakpoints.scss';

.hall {
  margin-top: 50px;

  &__item {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    @include min_width1200 {
      flex-direction: row;
    }

    &:not(:last-child) {
      margin-bottom: 100px;
    }
  }

  &__image {
    flex: 1;
  }

  &__text {
    flex: 1;
    margin: 25px 0 0 0;

    @include min_width1200 {
      margin: 0 0 0 50px;
    }
  }

  &__name {
    margin: 30px 0 0 0;
    text-transform: uppercase;
    font-weight: 700;
  }

  &__description {
    margin: 0;
    line-height: 30px;
    font-size: 15px;

    &:not(:first-child) {
      margin-top: 20px;
    }
  }
}
