.judges {
  margin-top: 50px;

  &__item {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 50px;
    }
  }

  &__image {
    flex: 1;
  }

  &__text {
    flex: 1;
    margin-left: 50px;
  }

  &__name {
    margin: 0;
    text-transform: uppercase;
    font-weight: 600;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 10px;
  }

  &__description {
    margin: 0;
    line-height: 30px;
    font-size: 15px;

    &:not(:first-child) {
      margin-top: 20px;
    }
  }
}
