@import 'breakpoints.scss';

* {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
}

.main {
  min-height: 100vh;

  @include min_width1200 {
    margin: 80px auto 0 auto;
    min-height: calc(100vh - 80px);
  }
}
